input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 170;
}
h1, h2, h3, h4 { font-weight: 350; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  /*zoom: 0.9;*/
  transition: opacity 500ms 1s;
  display: block;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#bestworst {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  /*zoom: 0.9;*/
  transition: opacity 500ms 1s;
}

#bestworst:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
} 

@media screen and (max-width: 768px) {
#controls{display: none;}
#bestworst{display: none;}
#analysis_table{display: none;}
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}